<!DOCTYPE html>
<html class="grid">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./vagas.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/03adcac790.js"
      crossorigin="anonymous"
    ></script>
    <title>Vagas de Estágio/Emprego</title>
  </head>
  <body>
    <header class="header">
      <div class="header__info">
        <div class="social-media">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>

        <h1 class="">DAINF</h1>

        <div class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <nav class="navbar">
        <ul class="navbar__menu">
          <li class="navbar__menu-item"><a href="../../index.html">Home</a></li>
          <li class="navbar__menu-item"><a href="#">Docentes</a></li>
          <li class="navbar__menu-item"><a href="#">Ensino</a></li>
          <li class="navbar__menu-item"><a href="#">TCC</a></li>
          <li class="navbar__menu-item"><a href="#">Pesquisa</a></li>
          <li class="navbar__menu-item"><a href="#">Extensão</a></li>
          <li class="navbar__menu-item"><a href="#">FAQ Acadêmico</a></li>
          <li class="navbar__menu-item">
            <a href="./atividades-complementares.html"
              >Atividades Complementares</a
            >
          </li>
          <li class="navbar__menu-item">
            <a href="./components/vagas.html">Vagas de Estágio/Emprego</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="conteudo">
        <div class="titulo"><h1>Vagas de Estágio/Emprego</h1></div>
        <div class="texto">
          <h3>Vaga de Estágio 2</h3>
          <p>
            <strong>Empresa: </strong><br /><br />
            <strong>Descrição: </strong>Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Quaerat obcaecati amet expedita debitis! Non
            consectetur quis dolorum, sit, distinctio ipsum tempore beatae
            accusamus, vitae eaque alias pariatur et dolorem cupiditate?<br /><br />
            <strong>Requisitos: </strong>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Doloribus quo minus expedita, officia illum
            dolorum totam voluptas nemo nobis fuga iure neque illo aliquam optio
            delectus quisquam ipsam numquam facilis?<br /><br />
            <strong>Benefícios: </strong>Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Quo ut fugiat quibusdam culpa adipisci sapiente,
            dolore velit similique autem accusantium vitae temporibus dolores
            fuga aperiam expedita unde blanditiis ipsam delectus.<br /><br />
          </p>
        </div>
        <button type="button"><a href="vagas.html">Voltar</a></button>
      </div>
    </div>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
