<!DOCTYPE html>
<html class="grid">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>Atividades Complementares</title>
    </head>
    <body>
        <div class="container">
            <div class="flex-menu"> 
                <picture>
                        <img src="../images/logo-DAINF-7_1.png" alt="logo-dainf" width="150" height="66">
                </picture>
                <nav>
                    <ul>
                        <li class="item-menu"><a href="#">Home</a></li>
                        <li class="item-menu"><a href="#">DAINF</a></li>
                        <li class="item-menu"><a href="#">FAQ Acadêmico</a></li>
                        <li class="active"><a href="atividades-complementares.html">Atividades Complementares</a></li>
                        <li class="item-menu"><a href="vagas.html">Vagas de Estágio/Emprego</a></li>
                        <li class="item-menu"><a href="#">Contato</a></li>
                    </ul>
                </nav>
            </div>
        <div class="conteudo">
            <div class="titulo">
            <h1>Atividades Complementares</h1>
            <h4>Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas</h4></div>
            <div class="texto">
            <p>As Atividades Complementares se constituem em parte integrante o currículo dos cursos de graduação, a serem desenvolvidas dentro do prazo de conclusão do curso, e sendo componente curricular obrigatório. O objetivo é privilegiar a construção de comportamentos sociais, humanos, culturais e profissionais, que são adicionais às demais atividades acadêmicas. As Atividades Complementares são divididas em três grupos:</p>
            <ol>
                <li>Atividades de complementação da formação social, humana e cultural; <i> -- mínimo de 20 (vinte) e máximo de 30 (trinta) pontos;</i></li>
                <li>Atividades de cunho comunitário e de interesse coletivo; <i> -- mínimo de 20 (vinte) e máximo de 30 (trinta) pontos;</i></li>
                <li>Atividades de iniciação científica, tecnológica e de formação profissional.<i> -- mínimo de 30 (vinte) e máximo de 40 (quarenta) pontos.</i> </li>
            </ol>
            
            <ul><br><br>
                <li>Professor Responsável: Tarcizio Alexandre Bini</p></li>
                <li>Contato: <i>tarcizio@utfpr.edu.br</i></li>
            </ul><br><br><br>
            <button>
            <a href="coads.html">Veja mais...</a></button></div>
        </div>
    </div>
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>