<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./dainf.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/03adcac790.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>DAINF</title>
  </head>
  <body>
    <img class="logo" src="../../images/logo-DAINF-7_1.png" />

    <header class="header">
      <div class="header__info">
        <div class="social-media">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>

        <h1 class="">DAINF</h1>

        <div class="search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>

      <nav class="navbar">
        <ul class="navbar__menu">
          <li class="navbar__menu-item"><a href="../../index.html">Home</a></li>
          <li class="navbar__menu-item"><a href="./dainf.html">Docentes</a></li>
          <li class="navbar__menu-item"><a href="#">Ensino</a></li>
          <li class="navbar__menu-item"><a href="#">TCC</a></li>
          <li class="navbar__menu-item"><a href="#">Pesquisa</a></li>
          <li class="navbar__menu-item"><a href="#">Extensão</a></li>
          <li class="navbar__menu-item">
            <a href="../faq/faq.html">FAQ Acadêmico</a>
          </li>
          <li class="navbar__menu-item">
            <a
              href="../atividades-complementares/atividades-complementares.html"
              >Atividades Complementares</a
            >
          </li>
          <li class="navbar__menu-item">
            <a href="../vagas/vagas.html">Vagas de Estágio/Emprego</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <h2 class="faq__title">Coodernação</h2>

      <section>
        <div>
          <p>
            DAINF - Departamento Acadêmico de Informática<br />
            Chefe de Departamento: Professora Itamar Iliuk<br />
            <br />
            <i class="fa-solid fa-envelope"></i>
            &nbsp;itamariliuk@utfpr.edu.br<br />
            <i class="fa-solid fa-phone"></i> &nbsp;(42) 3220 - 4827
          </p>
        </div>
        <br />
        <div>
          <p>
            COADS - Coordenação do Curso Superior de Tecnologia em Análise e
            Desenvolvimento de Sistemas<br />
            Coordenador: Professora Mônica Hoeldtke Pietruchinski<br />
            <br />
            <i class="fa-solid fa-envelope"></i> &nbsp;coads-pg@utfpr.edu.br
            (questões de coordenação enviadas para outro email poderão ficar sem
            resposta)<br />
          </p>
        </div>

        <br />
        <div>
          <p>
            COCIC - Coordenação do Curso de Bacharelado em Ciência da
            Computação<br />
            Coordenador: André Pinz Borges<br />
            <br />
            <i class="fa-solid fa-envelope"></i> &nbsp;cocic-pg@utfpr.edu.br
            (questões de coordenação enviadas para outro email poderão ficar sem
            resposta)<br />
          </p>
        </div>

        <div class="teachers__planner">
          <span class="show__button">DOCENTES</span>
        </div>
      </section>
    </div>

    <div id="background" class="background hidden">
      <div class="content-box">
        <span class="close">X</span>
        <table>
          <thead>
            <tr>
              <td colspan="5">
                <h2>Docentes Efetivos</h2>
              </td>
            </tr>
            <tr>
              <td><strong>Nome</strong></td>
              <td><strong>Titulação </strong></td>
              <td><strong>Regime de Trabalho </strong></td>
              <td><strong>e-mail @utfpr.edu.br</strong></td>
              <td><strong>Lattes </strong></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>André Pinz Borges</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>apborges</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Augusto Foronda</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>foronda</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Diego Roberto Antunes</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>drantunes</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Eliana Cláudia Mayumi Ishikawa</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>eishikawa</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Erikson Freitas de Morais</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>emorais</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Geraldo Ranthum</td>
              <td>Mestre</td>
              <td>DE</td>
              <td>granthum</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Gleifer Vaz Alves</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>gleifer</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Helyane Bronoski Borges</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>helyane</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Itamar Iliuk</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>itamariliuk</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>joão Paulo Aires</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>joao</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Lourival A. de Góis</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>gois</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Luiz Rafael Schmitke</td>
              <td>Mestre</td>
              <td>DE</td>
              <td>luizr</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Marcos Vinicius Fidelis</td>
              <td>Especialista</td>
              <td>20h</td>
              <td>fidelis</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Mauren Louise Sguario</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>mlsguario</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Mônica Hoeldtke Pietruchinski</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>monica</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Richard Duarte Ribeiro</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>richardribeiro</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Rogério Ranthum</td>
              <td>Mestre</td>
              <td>DE</td>
              <td>ranthum</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Saulo Jorge Beltrão de Queiroz</td>
              <td>Mestre</td>
              <td>DE</td>
              <td>sauloqueiroz</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Sheila Morais de Almeida</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>sheilaalmeida</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Simone Bello Kaminski Aires</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>sbkaminski</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Simone de Almeida</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>simonea</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Simone Nasser Matos</td>
              <td>Doutora</td>
              <td>DE</td>
              <td>snasser</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Tarcizio Alexandre Bini</td>
              <td>Doutor</td>
              <td>DE</td>
              <td>tarcizio</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td>Vinícius Camargo Andrade</td>
              <td>Mestre</td>
              <td>DE</td>
              <td>vcandrade</td>
              <td>
                <img class="cnpq" src="../../images/cnpq.gif" />
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <h2>Docentes Substitutos</h2>
              </td>
            </tr>
            <tr>
              <td><strong>Nome</strong></td>
              <td><strong>Titulação </strong></td>
              <td><strong>Regime de Trabalho </strong></td>
              <td><strong>e-mail @utfpr.edu.br</strong></td>
              <td><strong>Lattes </strong></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="dainf.js"></script>
  </body>
</html>
