:root {
  --primary: #000ba5;
  --border-bottom: #dfdfdf;
  --text-fixed: #ffffff;
  --aside-tag: #9c9c9c;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1128px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.header {
  height: 140px;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom);
  margin-bottom: 50px;
}

.header__info {
  margin: 5px 0 0 0;
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.logo {
  width: 120px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.navbar__menu {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  overflow: hidden;
}

.fa-caret-down {
  font-size: 15px;
}

.fa-magnifying-glass,
.fa-brands {
  cursor: pointer;
  font-size: 17px;
}

.social-media {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  height: 600px;
}

.info {
  width: 50%;
  color: #000000;
  display: flex;
  align-items: center;
}

.info__title {
  font-weight: normal;
  font-size: 46px;
  margin: 0;
  margin-bottom: 20px;
}

.info__subtitle {
  font-weight: lighter;
  margin: 0;
  margin-bottom: 20px;
}

.info__contact {
  margin-top: 10px;
  font-weight: lighter;
}

.form__box {
  width: 50%;
}

.form {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.form__group__label input,
.form__group__label textarea {
  display: block;
  margin: 0;
  padding: 5px 5px;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 20px;
  font-weight: inherit;
  line-height: 2em;
  border: none;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form__group {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

.form__group:last-of-type {
  justify-content: start;
  margin-left: 30px;
}

.form__group__label {
  width: 40%;
}

.form__group__label label {
  margin-bottom: 5px;
}

.form__button {
  border: none;
  background-color: var(--primary);
  color: var(--text-fixed);
  padding: 10px;
  text-transform: uppercase;
  font-weight: 20px;
  font-weight: bold;
  cursor: pointer;
}

.form__textarea {
  width: 90%;
}

.form__textarea textarea {
  width: 100%;
}

.form__group__label input {
  width: 100%;
}

.navbar__menu-item > a {
  color: var(--primary);
  text-transform: uppercase;
  font-size: 13px;
}

.navbar__menu-item > a:hover {
  color: #4951b8;
  transition: 0.1s;
}
